header {
  background-color: var(--main);
  padding-right: 98px;
}

.logo {
  font-size: 36px;
  color: #f3effe;
  margin-left: 98px;
  font-weight: bold;
}

.logo span {
  color: var(--pink);
}
/* nav */
.nav-link {
  font-size: 1.25rem;
  color: var(--light);
  font-weight: bold;
}
/* hover */
a:hover {
  color: #ff4878 !important;
}
