.right-footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 16px 32px;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  margin-bottom: 0;
}
