:root {
  --main: #6f36bc;
  --pink: #ff4878;
  --darkPurple: #35174d;
  --light: #f3effe;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--main);
}
